.banner {
  background: url("latar2.png") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: white;
}
.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: white;
  background-color: bisque;
}
.lingkaran i {
  position: relative;
  top: 25px;
}
.tim img {
  width: 150px;
  border: 7px solid rgba(220, 225, 224, 0.452);
}
.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  background-color: rgb(57, 47, 34);
  line-height: 30px;
}

.footer {
  background: url("Contact.png");
  background-color: cover;
  padding-bottom: 20%;
  padding-top: 20%;
}
.card {
  margin: 0 auto;
}
.ig {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: white;
}
